<h1 class ="text-center">マイページ</h2>
<div class ="container">
<div class ="row">
    <div class ="col-lg-4">
<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, size: "200x200" %>
<% else %>
  <%= image_tag(asset_path('noimage.png'), size: "200x200") %>
<% end %>
  <div>
    <%= link_to "非公開にした投稿", private_posts_path(@user.id), class: "btn btn-primary" %>
    <%= link_to "プロフィールを編集", edit_user_path(@user.id), class: "btn btn-primary" %>
  </div>
  <div>
    <%= link_to "いいねした投稿", favorite_posts_path(@user.id), class: "btn btn-primary" %>
  </div>
  </div>
  <div class ="col-lg-4">
    <h3>マイプロフィール</h3>
    <div class ="h3">
      <%= @user.name %>
    </div>
<div class>
<%= @user.introduction %>
</div>
</div>

<div class ="col-lg-4">
  <h3>投稿一覧</h3>
<% @posts.each do |post| %>
  <div><%= post.title %></div>
  <div><%= link_to image_tag(post.post_image, size: "200x200"), post_path(post.id) %></div>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
<% end %>
</div>
</div>
</div>

