<div class = "container">
  <div class = "row">
    <div class = "col-lg-6">
      <div class = "h2">
<%= @post.title %>
      </div>

<%= image_tag @post.post_image, size: "600x400" %>
<div>
  <h4>撮影機材・設定</h4>
  <div>
  カメラ: <%= @post.camara %>
  </div>
  <div>
  レンズ: <%= @post.lens %>
  </div>
  <div>
  iso感度: <%= @post.iso %>
  </div>
  <div>
  シャッタースピード: <%= @post.shutter_speed %>
  </div>
  <div>
  f値: <%= @post.f_number %>
  </div>
  <div>
  備考欄:<%= @post.remark %>
  </div>
</div>
</div>
<div class = "col-lg-6">
<div>
  <h4>撮影した場所</h4>
  <div>
  <%= @post.location %>
  </div>
  <h4>撮影日時</h4>
  <div>
  <%= @post.shooting_datetime %>
  </div>
  <h4>本文</h4>
  <div>
  <%= @post.body %>
  </div>
  <h4>ジャンル</h4>
  <div>
  <%= link_to @post.genre.name, genre_path(@post.genre) %>
  </div>
</div>
</div>
<div class = "row">
<div>
  <div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  </div>

  <% @post.post_comments.each do |post_comment| %>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
    <% if admin_signed_in? %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <p class = "btn btn-outline-secondary">
    ♡<%= @post.favorites.count %> いいね
  </p>
</div>
  <% if @user == current_user %>
    <p><%= link_to "投稿編集", edit_post_path(@post), class: "btn btn-primary" %></p>
    <p><%= link_to "削除", destroy_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></p>
  <% end %>
  <% if admin_signed_in? %>
    <p><%= link_to "削除", destroy_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></p>
  <% end %>
  </div>
  </div>
</div>