<!-- 投稿検索部分 -->
<div class="container">
<h4>キーワード検索</h4>
<%= form_with url: search_posts_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
    <%= form.submit "検索" %>
<% end %>



<h4>ジャンル検索</h4>
</div>

<!-- 投稿一覧部分 -->
<div class="container">
  <div class="row">
<table >
<% @posts.each do |post| %>
  <div><%= post.title %></div>
  <div><%= link_to image_tag(post.post_image, size: "200x200"), post_path(post.id) %></div>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
<% end %>
</table>
</div>
</div>