<h2>新規投稿ページ</h2>
  <%= form_with model: @post do |f| %>
    <h4>投稿のタイトル</h4>
    <%= f.text_field :title %>

    <h4>!画像表示部分!</h4>
    <%= f.file_field :post_image, accept: "image/*" %>

    <h4>撮影機材・設定</h4>
    <p>カメラボディ</p><%= f.text_field :camara %>
    <p>使用レンズ</p><%= f.text_field :lens %>
    <p>iso</p><%= f.text_field :iso %>
    <p>シャッタースピード</p><%= f.text_field :shutter_speed %>
    <p>f値</p><%= f.text_field :f_number %>
    <p>備考</p><%= f.text_area :remark %>

    <h4>投稿本文</h4>
    <%= f.text_area :body %>

    <h4>投稿ステータス</h4>
    <td><%= f.radio_button :status, :public %><%= f.label :status, "公開", class: "text-active" %></td>
    <td><%= f.radio_button :status, :private %><%= f.label :status, "非公開", class: "text-invalid" %></td>

    <%= f.submit '投稿する' %>
  <% end %>